<div class="holy-grail-footer">
    <div class="grid-container workThumbnails">
    
    
  
<div class="grid-x grid-padding-x collapse expanded">

<div class="small-12 medium-4 cell small-order-2 medium-order-1">
    <form>
        <h1> Contact Me</h1>
        <label>First Name:
          <input type="text" placeholder="first name">
        </label>
   
     
        <label>Email Address:
          <input type="text" placeholder="Email Address">
        </label>
        
        
        <label>
  How can I help you?
  <textarea cols="30" rows="10" placeholder="None"></textarea>
</label>
        
        <a class="button">Submit</a>
    </form>
</div>
 
        <div class="small-12 medium-6 cell small-order-1 medium-order-2">
            testing
        </div>
    
    
        
  </div>
</div>

